<!DOCTYPE html>
<html lang="en">
<head>
{% if title%}
		<title>Inventory {{title}}</title>
	{% else %}
		<title>Inventory</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/invent.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="#"><b>Inventory Management System For Retailers</b></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav"><pre>                                </pre>
			      
			     
			      
			      <a class="nav-item nav-link" href="/view">Product Details</a>
			       <a class="nav-item nav-link" href="/userbuy">user buy  </a>
			       <a class="nav-item nav-link" href="/cart">view cart </a>
			       <a class="nav-item nav-link" href="/stock">Stock Balance</a>
			       <a class="nav-item nav-link" href="/track">track today's sales</a>
			          <a class="nav-item nav-link" href="/history">History</a>
			        <a class="nav-item nav-link" href="/logout">logout</a>   
			           
			           
			    </div>
			  </div>
			</nav>
    <section>
        <div class="form-container">
           
        <form method="post" action=""{{ url_for('add') }}"">
            <div class="control">
            <label for="name">Name</label>
             <input class="form-group" type="text" name="pn" placeholder="Product Name" id="p_name" required>
            </div>
          <div class="control">
              Description 
               <input class="form-group" type="text" name="pd" placeholder="Product Description" id="P_description" required>
            </div>
            <div class="control">
              Price 
               <input class="form-group" type="text" name="pr" placeholder="Product price" id="P_price" required>
            </div>
             <div class="control">
              QTY 
               <input class="form-group" type="text" name="pq" placeholder="Product QTY" id="P_QTY" required>
            </div>

  
        </form>
      
      <div class="modal-footer">
        <input class="btn btn-success" class="form-control"  type="Submit" value="Submit" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </section>
</body>
</html>