<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <section>
        <div class="form-container">
            <h1>Registration Form</h1>
        <form method="post" action="">
        
            <div class="control">
            <label for="name">Name</label>
            <input type="text" id="name" name="fname" placeholder="enter name" required>
            </div>
            <div class="control">
            <label for="psw">Password</label>
            <input type="password" id="psw" name="pass" placeholder="enter password" required>
            </div>
            <div class="control">
                <label for="email">email</label>
                <input type="email" id="email" name="emailid" placeholder="enter email address" required>
                </div>
            <span><input type="checkbox"> Remember me</span>
            <div class="control">
            <input type="submit" class="btn" value="register">
            </div>
        </form>
        
        <p>already registered?
			<a href="{{url_for('admin')}}">click</a> here to login
		</p>
        <a href="/home">  
            <input type="submit" value="DASH BOARD"/>  
           </a>
         </div>
        
    </section>
</body>
</html>