
<!DOCTYPE html>
<html>
<head>
{% if title%}
		<title>Inventory {{title}}</title>
	{% else %}
		<title>Inventory</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/invent.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="#"><b>Inventory Management System For Retailers</b></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav"><pre>                                </pre>
			      
			     
			      
			      <a class="nav-item nav-link " href="/view">Product Details</a>
			       <a class="nav-item nav-link" href="/userbuy">user buy  </a>
			       <a class="nav-item nav-link" href="/cart">view cart </a>
			       <a class="nav-item nav-link" href="/stock">Stock Balance</a>
			       <a class="nav-item nav-link " href="/track">track today's sales</a>
			          <a class="nav-item nav-link" href="/history">History</a>
			           
			         <a class="nav-item nav-link" href="/logout">logout</a>  
			           
			    </div>
			  </div>
			</nav>
           
        </div>
           <section>
        <div class="form-container">
            
        <form class="form-group" action = "{{ url_for('edit') }}" method="POST">
        
            <div class="control">
             <input type="text" name="id" value="{{product[0]}}" hidden >
            </div>
            
            <div class="control">
            Product Name
           <input type="text" name="productname" placeholder="product name" value="{{product[2]}}"  >
            </div>
<div class="control">
Product Description
          <input type="text" name="productdesc" placeholder="product desc" value="{{product[3]}}">
            </div>
            <div class="control">
Location
          <input type="text" name="productdesc" placeholder="location" value="{{product[4]}}">
            </div>

<div class="control">
price
         <input type="text" name="price" placeholder="price" value="{{product[5]}}">
            </div>
            <div class="control">
            units
         <input type="text" name="unit" placeholder="units" value="{{product[6]}}">
            </div>

<div class="control">
available quantity
        <input type="text" name="qty" placeholder="available quantity" value="{{product[7]}}">
            </div>
           
            <div class="control">
            <input type="submit" class="btn" value="update">
            </div>
        </form>
        
        
    </section>
</body>
