
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>

{% if title%}
		<title>Inventory {{title}}</title>
	{% else %}
		<title>Inventory</title>
	{% endif %}
	
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}">
    	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/invent.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<style>
        .GFG {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
        }
    </style>
</head>
<body>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="#"><b>Inventory Management System For Retailers</b></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav"><pre>                                </pre>
			      
			     
			      
			      <a class="nav-item nav-link" href="/view">Product Details</a>
			       <a class="nav-item nav-link" href="/userbuy">user buy  </a>
			       <a class="nav-item nav-link" href="/cart">view cart </a>
			       <a class="nav-item nav-link" href="/stock">Stock Balance</a>
			       <a class="nav-item nav-link" href="/track">track today's sales</a>
			          <a class="nav-item nav-link active" href="/history">History</a>
			        <a class="nav-item nav-link" href="/logout">logout</a>   
			           
			           
			    </div>
			  </div>
			</nav>
   


 <table class="table table-striped">
    <thead>
    
      <tr>
       <th class="text-info">Day</th>
        <th class="text-info">total amount gained</th>
        <th class="text-info">total quantity sold</th>
      
       


      </tr>
     
    </thead>
    <tbody>
                    {% for product in data %}
                    <tr>
                    <td>{{product[2]}}</td>
                    <td>{{product[3]}}</td>
                    <td>{{product[4]}}</td>
                    
                    	
              
               
            </tr>
         {% endfor %}
          
    </tbody>
   <tfoot>
   <td><a href="/clearhistory"><button class="GFG">
        clear history
        </button></a></td>
   
  </table>
 
</div>
              
            
        </div>
        
       
    </div>

</body>
</html>