
<!DOCTYPE html>
<html>
<head>
{% if title%}
		<title>Inventory {{title}}</title>
	{% else %}
		<title>Inventory</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/invent.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="#"><b>Inventory Management System For Retailers</b></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav"><pre>                                </pre>
			     
			     
			      
			      <a class="nav-item nav-link" href="/view">Product Details</a>
			       <a class="nav-item nav-link" href="/userbuy">user buy  </a>
			       <a class="nav-item nav-link" href="/cart">view cart </a>
			       <a class="nav-item nav-link" href="/stock">Stock Balance</a>
			       <a class="nav-item nav-link" href="/track">track today's sales</a>
			       <a class="nav-item nav-link" href="/history">History</a>
			          <a class="nav-item nav-link" href="/logout">logout</a>
			           
			           
			           
			    </div>
			  </div>
			</nav>
           
        </div>
            {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %} 
           <section>
 
        <div class="form-container">
            
        <form class="form-group" action = "{{ url_for('shipping') }}" method="POST">
            
           
                           
              
            <div class="control">
              <input type="text" name="un" placeholder="username" >
               </div>
               
                 <div class="control">
              <input type="text" name="ph" placeholder="phone number"  >
               </div>
               
                  <div class="control">
               <input type="textarea" name="adre" placeholder="address"   >
               </div>
          
            
               <div class="control">
            <input type="submit" class="btn" value="submit">
            </div>
            
            
        </form>
        
        
    </section>
</body>
</html>