
<!DOCTYPE html>
<html>
<head>

{% if title%}
		<title>Inventory {{title}}</title>
	{% else %}
		<title>Inventory</title>
	{% endif %}
	
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  
    	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/invent.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<section>
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="#"><b>Inventory Management System For Retailers</b></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav"><pre>                                </pre>
			      
			     
			      
			      <a class="nav-item nav-link active" href="/view">Product Details</a>
			       <a class="nav-item nav-link" href="/userbuy">user buy  </a>
			       <a class="nav-item nav-link" href="/cart">view cart </a>
			       <a class="nav-item nav-link" href="/stock">Stock Balance</a>
			       <a class="nav-item nav-link " href="/track">track today's sales</a>
			    <a class="nav-item nav-link" href="/history">History</a>
			       <a class="nav-item nav-link" href="/logout">logout</a>
			       
			          
			           
			           
			           
			    </div>
			  </div>
			</nav>
			    <div>
			    
      <input type="checkbox" id="show">
      <label for="show" class="show-btn">ADD</label>
      <div class="container">
        <label for="show" class="close-btn fas fa-times" title="close"></label>
        <div class="text">
 add product</div>
<form method="post" action="{{ url_for('add') }}">
<div class="data">
            <label for="name">userName</label>
             <input class="form-group" type="text" name="un" placeholder="Product Name" id="p_name" value="{{name[0][0]}}" readonly required>
          </div>
          <div class="data">
            <label for="name">Name</label>
             <input class="form-group" type="text" name="pn" placeholder="Product Name" id="p_name" required>
          </div>
<div class="data">
            Description 
               <input class="form-group" type="text" name="pd" placeholder="Product Description" id="P_description" required>
          </div>
<div class="data">
            location 
               <input class="form-group" type="text" name="lo" placeholder="location" id="P_description" required>
          </div>

<div class="data">
   Price 
               <input class="form-group" type="text" name="pr" placeholder="Product price" id="P_price" required>
          </div>
          <div class="data">
   Units 
               <input class="form-group" type="text" name="unit" placeholder="Product units" id="P_units" required>
          </div>

<div class="data">
   QTY 
               <input class="form-group" type="text" name="pq" placeholder="Product QTY" id="P_QTY" required>
          </div>

<div class="btn">
            <div class="inner">
</div>
<button type="submit">submit</button>
          </div>

</form>
</div>
</div>


  <table class="table table-striped">
    <thead>
      <tr>
      
        <th class="text-info">Product id</th>
        
        <th class="text-info">Product name</th>
        <th class="text-info">Product Description</th>
        <th class="text-info">Location</th>
        <th class="text-info">Price</th>
        <th class="text-info">Units</th>
<th class="text-info">quantity</th>
        <th class="text-success">Edit</th>
        <th class="text-danger">Delete</th>
      </tr>
    </thead>
    <tbody>
                    {% for product in data %}
                    <tr>
                    <td>{{product[0]}}</td>
                    <td>{{product[1]}}</td>
                    <td>{{product[2]}}</td>
                    <td>{{product[3]}}</td>
                    <td>{{product[4]}}</td>	
                    <td>{{product[5]}}</td>
                     <td>{{product[6]}}</td>
                    
              
              
              <td>  <a href="{{url_for('edit',id=product[0])}}" id="test"><button class="GFG">
            Edit
        </button></a></td>
        <td>  <a href="{{url_for('delete',id=product[0])}}" id="test1"><button class="GFG">
            Delete
        </button></a></td>
                        
            </tr>
         {% endfor %}
         
    </tbody>
  </table>
</div>
              
            
        </div>
        
       
    </div>
</section>
</body>
</html>



